{{- define "main" -}}

{{ $homepage := "Home" }}
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}
<!-- <h1>{{ $homepage }}</h1> -->

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
<div id="list-main-container">
{{ range $pages.ByPublishDate.Reverse }}
  <div class="article-list-container" onclick="location.href='{{ .Permalink }}'">
    <div class="link-container">
      <a class="article-list-link" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </div>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    {{$tag := index (.Params.Tags) 0 }}
    <div class="meta-container {{$tag}}-tag" onclick="location.href='{{ .Permalink }}'">
      <div class="article-list-date">{{ .PublishDate.Format $customDateFormat }}</div>
      <div class="article-list-tag">{{$tag}}</div>
      <!-- {{ partial "tags" . }} -->
    </div>
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </div>
{{ end }}
</div>

{{- end -}}